* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }

  .legalSupport{
    height: 3535px;
  }
  .v155_199 {
    width: 100%;
    height: 3530px;
    /* background: rgba(255,255,255,1); */
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v155_208 {
    width: 100%;
    height: 100px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v155_335 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(26,102,202,1), rgba(26,102,202,0.7267760038375854));
    opacity: 1;
    position: absolute;
    top: 749px;
    left: 0px;
    overflow: hidden;
  }
  .v155_345 {
    width: 100%;
    height: 669px;
    background: url("../images/v155_345.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    overflow: hidden;
  }
  .v155_336 {
    width: 100%;
    color: rgba(255,255,255,0.05000000074505806);
    position: absolute;
    top: 1744px;
    left: 886px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v155_337 {
    width: 100%;
    color: rgba(255,255,255,0.05000000074505806);
    position: absolute;
    top: 2183px;
    left: 536px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v155_209 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 503px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v155_210 {
    width: 82px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 651px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v155_211 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 825px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v155_212 {
    width: 250px;
    height: 38px;
    /* background: url("../images/v155_212.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 150px;
    overflow: hidden;
  }
  .v155_213 {
    width: 130px;
    height: 44px;
    background: rgba(26,102,202,1);
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 1024px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    box-shadow: 0px 4px 4px rgba(0.10196078568696976, 0.40000006556510925, 0.7921568751335144, 0.7421665787696838);
    overflow: hidden;
  }
  .v155_214 {
    width: 130px;
    height: 44px;
    background: rgba(26,102,202,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 1160px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
  }
  .v155_215 {
    width: 59px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 37px;
    left: 1059px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v155_216 {
    width: 76px;
    color: rgba(27,26,26,1);
    position: absolute;
    top: 37px;
    left: 1186px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v155_293 {
    width: 217px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1340px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_294 {
    width: 312px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1340px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_295 {
    width: 444px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1340px;
    left: 955px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_299 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1752px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_300 {
    width: 311px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1752px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_301 {
    width: 373px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1752px;
    left: 955px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_302 {
    width: 371px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2168px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_303 {
    width: 429px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2580px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_304 {
    width: 384px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2580px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_305 {
    width: 389px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2992px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_306 {
    width: 299px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3404px;
    left: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_307 {
    width: 402px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3816px;
    left: 107px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_308 {
    width: 418px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3816px;
    left: 544px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_309 {
    width: 366px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3816px;
    left: 952px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_310 {
    width: 286px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2992px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_311 {
    width: 322px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3404px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_312 {
    width: 267px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3404px;
    left: 952px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_313 {
    width: 286px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2992px;
    left: 952px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_314 {
    width: 353px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2580px;
    left: 952px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_315 {
    width: 333px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2168px;
    left: 551px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_316 {
    width: 398px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2168px;
    left: 952px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v155_296 {
    width: 379px;
    height: 251px;
    background: url("../images/v155_296.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1081px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_297 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_297.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1081px;
    left: 955px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_298 {
    width: 419px;
    height: 251px;
    background: url("../images/v155_298.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8999999761581421;
    position: absolute;
    top: 1493px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_317 {
    width: 376px;
    height: 251px;
    background: url("../images/v155_317.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1493px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_318 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_318.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1493px;
    left: 955px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_319 {
    width: 419px;
    height: 255px;
    background: url("../images/v155_319.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1905px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_320 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_320.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1905px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_321 {
    width: 380px;
    height: 251px;
    background: url("../images/v155_321.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1905px;
    left: 952px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_322 {
    width: 419px;
    height: 251px;
    background: url("../images/v155_322.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2321px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_323 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_323.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2321px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_324 {
    width: 380px;
    height: 251px;
    background: url("../images/v155_324.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2321px;
    left: 952px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_325 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_325.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2733px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_326 {
    width: 380px;
    height: 251px;
    background: url("../images/v155_326.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2733px;
    left: 952px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_327 {
    width: 419px;
    height: 251px;
    background: url("../images/v155_327.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1081px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_328 {
    width: 419px;
    height: 251px;
    background: url("../images/v155_328.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2733px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_329 {
    width: 420px;
    height: 251px;
    background: url("../images/v155_329.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3145px;
    left: 107px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_330 {
    width: 377px;
    height: 251px;
    background: url("../images/v155_330.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3145px;
    left: 551px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_331 {
    width: 380px;
    height: 251px;
    background: url("../images/v155_331.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3145px;
    left: 952px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_332 {
    width: 419px;
    height: 251px;
    background: url("../images/v155_332.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3557px;
    left: 108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_333 {
    width: 384px;
    height: 251px;
    background: url("../images/v155_333.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3557px;
    left: 544px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v155_334 {
    width: 380px;
    height: 251px;
    background: url("../images/v155_334.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3557px;
    left: 952px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v159_347 {
    width: 100%;
    height: 669px;
    background: linear-gradient(rgba(26,102,202,1), rgba(26,102,202,0));
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    overflow: hidden;
  }
  .v160_351 {
    width: 614px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 820px;
    left: 413px;
    font-family: Montserrat;
    font-weight: ExtraBold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v160_352 {
    width: 199px;
    /* background: url("../images/v160_352.png"); */
    opacity: 1;
    position: absolute;
    top: 950px;
    left: 620px;
    border: 4px solid rgba(255,255,255,1);
  }
  .v160_353 {
    width: 100%;
    height: 1046px;
    /* background: url("../images/v160_353.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3986px;
    left: 0px;
    overflow: hidden;
  }
  .v160_354 {
    width: 100%;
    height: 100%;
    /* background: url("../images/v160_354.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v160_355 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(26,102,202,1), rgba(25,102,202,0.25));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v160_356 {
    width: 409px;
    height: 66px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4329px;
    left: 881px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v160_357 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4292px;
    left: 879px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v160_358 {
    width: 10px;
    height: 10px;
    /* background: url("../images/v160_358.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4290px;
    left: 1004px;
    overflow: hidden;
  }
  .v160_359 {
    width: 74px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 4353px;
    left: 915px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v160_360 {
    width: 409px;
    height: 66px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4461px;
    left: 881px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v160_361 {
    width: 10px;
    height: 10px;
    /* background: url("../images/v160_361.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4422px;
    left: 951px;
    overflow: hidden;
  }
  .v160_362 {
    width: 70px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4424px;
    left: 881px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_363 {
    width: 163px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 4485px;
    left: 915px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v160_364 {
    width: 409px;
    height: 219px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4725px;
    left: 881px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v160_365 {
    width: 109px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4688px;
    left: 881px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_366 {
    width: 10px;
    height: 10px;
    /* background: url("../images/v160_366.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4554px;
    left: 1070px;
    overflow: hidden;
  }
  .v160_367 {
    width: 10px;
    height: 10px;
    /* background: url("../images/v160_367.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4686px;
    left: 989px;
    overflow: hidden;
  }
  .v160_368 {
    width: 218px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 4757px;
    left: 897px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v160_369 {
    width: 549px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4067px;
    left: 446px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v160_370 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4139px;
    left: 195px;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v160_371 {
    width: 40px;
    height: 40px;
    /* background: url("../images/v160_371.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4412px;
    left: 150px;
    overflow: hidden;
  }
  .v160_372 {
    width: 40px;
    height: 40px;
    /* background: url("../images/v160_372.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4582px;
    left: 150px;
    overflow: hidden;
  }
  .v160_373 {
    width: 40px;
    height: 40px;
    /* background: url("../images/v160_373.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4497px;
    left: 150px;
    overflow: hidden;
  }
  .v160_374 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4417px;
    left: 247px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v160_375 {
    width: 360px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4502px;
    left: 246px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_376 {
    width: 511px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4582px;
    left: 246px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_377 {
    width: 226px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4260px;
    left: 147px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v160_378 {
    width: 409px;
    height: 66px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4593px;
    left: 881px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v160_379 {
    width: 193px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4556px;
    left: 881px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_380 {
    width: 96px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 4617px;
    left: 915px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v160_381 {
    width: 141px;
    height: 39px;
    background: rgba(26,102,202,1);
    opacity: 1;
    position: absolute;
    top: 4885px;
    left: 1129px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
  }
  .v160_382 {
    width: 90px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4897px;
    left: 1155px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v160_383 {
    width: 100%;
    height: 451px;
    background: linear-gradient(rgba(25,80,183,1), rgba(26,102,202,1));
    opacity: 1;
    position: absolute;
    top: 5112px;
    left: 0px;
    overflow: hidden;
  }
  .v160_384 {
    width: 250px;
    height: 38px;
    /* background: url("../images/v160_384.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5231px;
    left: 150px;
    overflow: hidden;
  }
  .v160_385 {
    width: 84px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5295px;
    left: 150px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_386 {
    width: 98px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5270px;
    left: 559px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_387 {
    width: 121px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5350px;
    left: 558px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_388 {
    width: 198px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5310px;
    left: 559px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_389 {
    width: 344px;
    height: 280px;
    background: rgba(220,220,220,0.25);
    opacity: 1;
    position: absolute;
    top: 5197px;
    left: 946px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v160_390 {
    width: 344px;
    height: 280px;
    background: rgba(40,111,205,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 5197px;
    left: 946px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v160_391 {
    width: 123px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5335px;
    left: 150px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_392 {
    width: 128px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5390px;
    left: 559px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_393 {
    width: 104px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5430px;
    left: 559px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_394 {
    width: 86px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5221px;
    left: 559px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v160_395 {
    width: 143px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5235px;
    left: 973px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v160_396 {
    width: 276px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5378px;
    left: 973px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v160_397 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5297px;
    left: 1203px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: right;
  }
  .name {
    color: #fff;
  }
  .v160_399 {
    width: 122px;
    color: rgba(255,255,255,0.6000000238418579);
    position: absolute;
    top: 5298px;
    left: 978px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v160_400 {
    width: 32px;
    height: 32px;
    /* background: url("../images/v160_400.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5395px;
    left: 150px;
    overflow: hidden;
  }
  .v160_401 {
    width: 32px;
    height: 32px;
    /* background: url("../images/v160_401.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5395px;
    left: 201px;
    overflow: hidden;
  }
  .v160_402 {
    width: 32px;
    height: 32px;
    /* background: url("../images/v160_402.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5395px;
    left: 252px;
    overflow: hidden;
  }
  .v160_403 {
    width: 32px;
    height: 32px;
    /* background: url("../images/v160_403.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5395px;
    left: 354px;
    overflow: hidden;
  }
  .v160_404 {
    width: 32px;
    height: 32px;
    /* background: url("../images/v160_404.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5395px;
    left: 303px;
    overflow: hidden;
  }
  .v160_405 {
    width: 167px;
    height: 20px;
    /* background: url("../images/v160_405.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5452px;
    left: 150px;
    overflow: hidden;
  }
  .v160_406 {
    width: 167px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lora;
    font-weight: Medium Roman;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v160_407 {
    width: 18px;
    height: 18px;
    /* background: url("../images/v160_407.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5454px;
    left: 264px;
    overflow: hidden;
  }
  .v160_408 {
    width: 480px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 150px;
    left: 480px;
    font-family: Montserrat;
    font-weight: ExtraBold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v160_409 {
    width: 80%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 280px;
    left: 105px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v160_410 {
    width: 282px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 449px;
    left: 579px;
    border: 1px solid rgba(0,107,206,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v160_411 {
    width: 205px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 462px;
    left: 617px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: ExtraBold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  